/* common style  */
body{
    background-color: #E5E5E5;
}
/* custom style applied here */
.input-field{
    background-color:#DCDCDC;
}
/* hide items of error message */
#insuficient-balance{
    display: none;
}
#number-alert{
    display: none;
}
#positive-number-alert{
    display: none; 
}
#expense-alert{
    display: none;
}