/* common style  */
body{
    background-color: #FFFFFF;
}
/* custom style applied here */
.input-field{
    background-color:#DCDCDC;
}
.heading-color{
    color: #31A5AC;
}
.input-section{
    background-color: #F8F8F8;
}
.all-input-field{
    padding-top: 30px;
}

/* hide items of error message */
#insuficient-balance{
    display: none;
}
#number-alert{
    display: none;
}
#positive-number-alert{
    display: none; 
}
#expense-alert{
    display: none;
}